---
title: Categories
description: "A list of all the topics covered in this blog."
layout: default
---

<h1>{{ page.title }}</h1>

<nav class="blog-tags">
    <div class="tags-cloud">
		{% for tag in site.categories %}
    	<a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    	{% endfor %}
    </div>
    <div class="tags-list">
        {% for tag in site.categories %}
        <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
        {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            <h4>{{ post.title }}<small class="post-date">{{ post.date | date_to_string }}</small></h4>
            <p>{{ post.description }}</p>
        </a>
        {% endfor %}
        {% endfor %}
    </div>
</nav>
