---
title: Home
layout: default
---

<div class=two-columns>
    <div class=left-column>
        <div class=hi>
            <h1>Hi, I’m Raul</h1>
            <p>I’m almost a Telecommunication Technologies Engineer living in Spain.</p>
            <p>I consider myself a full-time learner.</p>
        </div>
        <div class=sites-list>
            <ul>
                {% for social in site.social %}
                <li class={{ social.title }}>
                    <a href="{{ social.link }}" title="{{ social.alt }}">{{ social.description }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class=recent-blog-posts>
            <h2>Recent blog posts</h2>
            {% for post in site.posts limit:4 %}
            <a href="{{ post.url | prepend: site.baseurl }}"><h4 class=title>{{ post.title }}</h4></a>
            <p>{{ post.description }}</p>
            {% endfor %}
            <a href="{{ site.baseurl }}/blog" class=all>See all blog posts</a>
        </div>
    </div>
    <div class=right-column>
        <div class="projects-column">
            <h2>Stuff I've done</h2>
            <a href=https://www.geekmag.es/ class=project>
                <div class=project-borders>
                    <img src=/assets/images/GeekMag.webp alt="Screenshot of GeekMag" class=screenshot>
                    <b>GeekMag</b> is an online publication focused on technology, science, movies and videogames.
                </div>
            </a>
        </div>
    </div>
</div>
