<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <title>{% if page.title == 'Home' %}{{ site.SEOtitle }}{% else %}{{ page.title }} · {{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 110 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.favicon | prepend: site.baseurl }}">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{% if page.title == 'Home' %}{{ site.SEOtitle }}{% else %}{{ page.title }} · {{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 110 }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}{{ site.logo }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property='og:type' {% if page %} content='article' {% else %} content="website" {% endif %}/>

    <!-- Feeds -->
    <link rel="alternate" title="{{ site.title }} (ATOM feed)" type="application/atom+xml" href="{{ "/feed.xml" | absolute_url }}">
    <link rel="alternate" title="{{ site.title }} (JSON feed)" type="application/json" href="{{ "/feed.json" | absolute_url }}">

    {% if page.title == 'Home' and site.google-site-verification %}
    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="{{ site.google-site-verification }}">  
    {% endif %}

    <!-- Styles -->
    {% if page.title == 'Home' %}<link rel="stylesheet" href="{{ "/assets/css/index.css" | prepend: site.baseurl }}">
    {% elsif page.title == 'Contact' %}<link rel="stylesheet" href="{{ "/assets/css/contact.css" | prepend: site.baseurl }}">
    {% elsif page.title == 'Blog' %}<link rel="stylesheet" href="{{ "/assets/css/blog-index.css" | prepend: site.baseurl }}">
    {% elsif page.layout == "post" %}<link rel="stylesheet" href="{{ "/assets/css/post.css" | prepend: site.baseurl }}">
    {% else %}<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
    {% endif %}
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=theme-color content=#c8463e>

    <!-- Icons -->
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel=preload crossorigin="anonymous" href="{{ "/assets/fonts/moniker/light.woff2" | prepend: site.baseurl }}" as=font type=font/woff2>
</head>
