{%- if page.layout == "post" -%}
<!-- CommentBox -->
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script type="text/javascript">
    commentBox('5699371857346560-proj', {
        textColor: '#333',
        subtextColor: '#606060'
    });
</script>
{% endif %}
{% if page.mathjax == true %}
<!-- MathJax -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML' async></script>
{% endif %}

<!-- Icons -->
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
