/* ===================================================================
 * # animations - (_animations.sass)
 *
 * ------------------------------------------------------------------- */

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hi>h1,
.hi>p,
.recent-blog-posts>.recent-post,
.recent-blog-posts>h2,
.recent-blog-posts>.recent-post,
.recent-blog-posts>.all-post,
.sites-list>ul>li,
.projects-column>h2,
.projects-column>.project
.footer {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hi>h1 {
  animation-name: slideDown;
}

.hi>p {
  animation-name: slideUp;
  animation-delay: 100ms;
}

.sites-list>ul>li {
  animation-duration: 500ms;
  animation-name: slideLeft;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

.sites-list>ul>li:nth-child(1) {
  animation-delay: 500ms;
}

.sites-list>ul>li:nth-child(2) {
  animation-delay: 600ms;
}

.sites-list>ul>li:nth-child(3) {
  animation-delay: 700ms;
}

.sites-list>ul>li:nth-child(4) {
  animation-delay: 800ms;
}

.sites-list>ul>li:nth-child(5) {
  animation-delay: 900ms;
}

.recent-blog-posts>h2,
.recent-blog-posts>.recent-post,
.recent-blog-posts>.all-post {
  animation-name: slideRight;
}

.recent-blog-posts>#recent-post-1 {
  animation-delay: 100ms;
}

.recent-blog-posts>#recent-post-2 {
  animation-delay: 200ms;
}

.recent-blog-posts>#recent-post-3 {
  animation-delay: 300ms;
}

.recent-blog-posts>.all-post {
  animation-delay: 400ms;
}

.projects-column>h2 {
  animation-name: slideLeft;
}

.projects-column>.project.is-loaded {
  animation-name: slideLeft;
  animation-delay: 100ms;
}

.footer {
  animation-name: slideUp;
  animation-delay: 1s;
}
