/* ===================================================================
 * # blog index styles - (_blog-index.scss)
 *
 * ------------------------------------------------------------------- */

.post-row {
  text-decoration: none;
  color: var(--color-text) !important;
}

.post-row .title {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 2.333rem;
}

.post-row > div {
  position: relative;
  box-shadow: none;
  padding: 8px;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .post-row > div {
    transition: box-shadow 0.3s;
  }
}

.post-row > div::before,
.post-row > div::after {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 0;
  height: 0;
  content: "";
}

.post-row > div:hover {
  box-shadow: 0 3px 4px #ccc;
}

.post-row > div:hover::before,
.post-row > div:hover::after {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.post-row > div:hover::before {
  border-top-color: var(--color-primary);
  border-right-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  .post-row > div:hover::before {
    transition: width 0.15s ease-in 0s, height 0.15s ease-out 0.15s;
  }
}

.post-row > div:hover::after {
  border-left-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}

@media (prefers-reduced-motion: no-preference) {
  .post-row > div:hover::after {
    transition: height 0.15s ease-in 0s, width 0.15s ease-out 0.15s;
  }
}

.post-details > p {
  margin: 0;
  color: var(--color-text-light) !important;
}

.post-year {
  margin: 2rem 0 1rem;
  border-top: 1px solid var(--color-primary-light);
  border-bottom: 1px solid var(--color-primary-light);
  padding: 4px;
  color: var(--color-primary);
  font-family: var(--font-sans);
  font-weight: 700;
}
