/* ===================================================================
 * # Contact page styles - (_contact.scss)
 *
 * ------------------------------------------------------------------- */

.contact-email>.e-mail, .contact-email>.address {
    padding-left: 24px;
    color: #2671b3;
    font-family: iosevka term;
    font-size: 1.5rem
}

.pgp .fingerprint>.line {
    text-align: center;
    color: #2671b3;
    font-family: iosevka term;
    font-size: 1.167rem
}

.pgp-key {
    color: #646894;
    font-family: iosevka term;
    line-height: 1.4;
    font-size: 0.75rem
}

.contact-title {
    font-size: 1.5em
}

.contact-subtitle {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 13pt
}
