/* ===================================================================
 * # Contact page styles - (_contact.scss)
 *
 * ------------------------------------------------------------------- */

.e-mail .address {
    padding-left: 24px;
    color: #2671b3;
    font-family: iosevka term;
    font-size: 18pt
}

.pgp .fingerprint>.line {
    text-align: center;
    color: #2671b3;
    font-family: iosevka term;
    font-size: 14pt
}

.pgp-key {
    color: #646894;
    font-family: iosevka term;
    line-height: unset;
    font-size: 9pt
}

.contact-title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

.contact-subtitle {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 13pt
}
