/* ===================================================================
 * # Contact page styles - (_contact.scss)
 *
 * ------------------------------------------------------------------- */

.contact-email>.e-mail, .contact-email>.address {
    padding-left: 24px;
    color: var(--color-link);
    font-family: var(--font-mono);
    font-size: 1.5rem
}

.pgp .fingerprint>.line {
    text-align: center;
    color: var(--color-link);
    font-family: var(--font-mono);
    font-size: 1.167rem
}

.pgp-key {
    color: var(--color-code);
    font-family: var(--font-mono);
    line-height: 1.4;
    font-size: 0.75rem
}

.contact-title {
    font-size: 1.5em
}

.contact-subtitle {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.083rem
}
