/*Icons by Iconmonstr*/

.ic {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 26px 26px;
    padding-left: 36px
}

.ic-e-mail {
    background-image: url(../images/icons/e-mail.svg);
}

.ic-github {
    background-image: url(../images/icons/github.svg);
}

.ic-stacko {
    background-image: url(../images/icons/stacko.svg);
}

.ic-linkedin {
    background-image: url(../images/icons/linkedin.svg);
}

.ic-twitter {
    background-image: url(../images/icons/twitter.svg);
}

.ic-heart {
    background-image: url(../images/icons/heart.svg);
}

.ic-code {
    background-image: url(../images/icons/code.svg);
}

.ic-github-alt {
    background-image: url(../images/icons/github-alt.svg);
}
