---
layout: default
---

{% assign words = content | number_of_words %}

<article class="body post">
    <div class="post-heading">
        <span class="blog-date read-time">
        {{ page.date | date: '%A,' }}
        {% assign d = page.date | date: "%-d"  %}
        {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd
        {% when '3' or '23' %}{{ d }}rd
        {% else %}{{ d }}th
        {% endcase %}
        {{ page.date | date: '%B, %Y' }}
        ꞏ
        {% if words < 360 %}1 min{% else %}{{ words | divided_by:180 }} mins{% endif %} read
        </span>
        <a href="{{ page.url | prepend: site.baseurl }}"><h1 class="title">{{ page.title }}</h1></a>
    </div>
    <div class="row-cols">
        <div class="main text">
            {% if page.image %}
            <p><img src="{{ page.image }}" alt="{{ page.description }}" title="{{ page.title }}"></p>
            {% endif %}
            {{ content }}
        </div>
        <p class="post-tags">
            <span class="tags-title">Tags</span>
            <span class="tags-list">
                {% for tag in page.tags %}
                <a href="{{ site.tag_page | prepend: site.baseurl }}#{{ tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </span>
        </p>
    </div>
    <div class="row-cols blog-navigation">
        {% if page.previous.url %}
        <a href="{{page.previous.url | prepend: site.baseurl }}" class="previous-post">← Previous post</a>
        {% endif %}
        {% if page.next.url %}
        <a href="{{page.next.url | prepend: site.baseurl }}" class="next-post">Next post →</a>
        {% endif %}
    </div>
    <div class="row-cols blog-return">
        <a href="{{ site.baseurl }}/blog" class="back-to-blog">↺ All blog posts</a>
    </div>
</article>
<hr>
<div class="commentbox"></div>
