name: Validate Pull Request

on:
  pull_request:
    branches:
      - master

jobs:
  validate:
    uses: ./.github/workflows/deploy.yml
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      environment: production
      branch: ${{ github.head_ref }}
      config_files: '_config.yml'
      fail_on_html_errors: true
      deploy: false

